.single {
  .has-post-thumbnail, .no-post-thumbnail {
    .post {
      background-color: transparent;
    }
  }
  .no-post-thumbnail {
    .header-content {
      .hero__meta {
        display: none;
      }
    }
  }
  .post {
    .entry-wrapper {
      margin-bottom: 40px;
      .entry-footer {

          span {
            @include query-below($tiny) {
            display: block;
              width: 100%;
              margin-bottom: 5px;
          }
        }
        .tags-links {
          float: right;
        }
      }
    }
  }
}